.header {
  display: flex;
  align-items: center;
  padding: 15px 40px;
  background-color: burlywood;
  border-bottom: 3px solid #ff9f43;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.logo {
  margin-right: auto; 
  font-weight: 800;
  font-size: 22px;
  color: #3e2723;
  text-decoration: none;
}

.navGroup {
  display: flex;
  gap: 20px; 
}

.link {
  text-decoration: none;
  color: #3e2723; 
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  padding: 8px 12px;
  border-radius: 8px;
}

.link:hover {
  background-color: #ff9f43;
  color: white;
}


.active {
  background-color: #ff9f43 !important; 
  color: white !important;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  pointer-events: none; 
}


.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f74730;
  margin-top: 4px;
}


.burger {
    display: none; 
    flex-direction: column;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    padding: 5px;
}

.line {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #ff9f43; 
    transition: 0.3s;
}


.nav {
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .burger {
        display: flex; 
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%; 
        width: 100%;
        height: 100vh;
        background-color: #E4E5E6; 
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        transition: 0.4s ease;
        z-index: 1000;
        gap: 30px;
    }

    .navActive {
        right: 0; 
    }

    .link {
        font-size: 24px;
        text-decoration: none;
        color: #333;
    }

  
    .lineOpen .line:nth-child(1) { transform: translateY(8px) rotate(45deg); }
    .lineOpen .line:nth-child(2) { opacity: 0; }
    .lineOpen .line:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }
}

.activeLink {
    color: #ff9f43; 
    font-weight: 600; 
}