
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 12px 0 12px 0;
    list-style: none; 
    max-width: 1200px;
    margin: 0 auto;
}


.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 220px; 
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05); 
    border-color: #ff9f43;
}

.img {
    border-radius: 4px;
    object-fit: cover;
}

.notFindItems {
  display: flex;
  flex: 1;
  align-items: center;   
  justify-content: center; 
 
  font-size: 32px;       
  font-weight: 500;
  color: #737171;          
  text-align: center;
  font-family: var(--font-geist-sans); 
  animation: fadeIn 0.5s ease-in-out;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}